
/* Fix Chrome / Edge autofill background */
input:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #1B4332 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  transition: background-color 9999s ease-in-out 0s;
}


/* For the iframe scrollbars */
iframe::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

iframe::-webkit-scrollbar-thumb {
  background-color: #4CAF50;
  border-radius: 10px;
  border: 2px solid #1F2A34; /* You can change the border color as needed */
}

iframe::-webkit-scrollbar-track {
  background: #1F2A34;
  border-radius: 10px;
}

/* For Firefox */
iframe {
  scrollbar-color: #4CAF50 #1F2A34;
  scrollbar-width: thin;
}
