input:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #121a19 inset !important;
  -webkit-text-fill-color: #edf0eb !important;
  caret-color: #edf0eb;
  transition: background-color 9999s ease-in-out 0s;
}

iframe {
  scrollbar-color: #587369 #0f1515;
  scrollbar-width: thin;
}

iframe::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

iframe::-webkit-scrollbar-thumb {
  background-color: #587369;
  border-radius: 999px;
}

iframe::-webkit-scrollbar-track {
  background: #0f1515;
}
