input:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #0b2a20 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  transition: background-color 9999s ease-in-out 0s;
}

iframe {
  scrollbar-color: #4fd1a1 #0a241c;
  scrollbar-width: thin;
}

iframe::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

iframe::-webkit-scrollbar-thumb {
  background-color: #4fd1a1;
  border-radius: 999px;
}

iframe::-webkit-scrollbar-track {
  background: #0a241c;
}