/* For the iframe scrollbars */
iframe::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

iframe::-webkit-scrollbar-thumb {
  background-color: #4CAF50;
  border-radius: 10px;
  border: 2px solid #1F2A34; /* You can change the border color as needed */
}

iframe::-webkit-scrollbar-track {
  background: #1F2A34;
  border-radius: 10px;
}

/* For Firefox */
iframe {
  scrollbar-color: #4CAF50 #1F2A34;
  scrollbar-width: thin;
}
